<! DOCTYPE html >
<html>
  <head>
    <title> BPD Officer Records</title>
  </head>
  <body>
    <div class="container">
    <div class = "text-white bg-secondary">
      <h2>Baltimore Police Department</h2>
    </div>
    </div>
<table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Badge Number</th>
      <th>Under Investigation</th>
      <th>Total Arrests</th>
      <th>All Arrests</th>
    </tr>
    <tr>
        <td><%= @officer.name %> </td>
        <td><%= @officer.badge_number %></td>
        <td><%= @officer.under_investigation == true ? "Yes": "No" %></td>
        <td><%= @officer.count_arrests %></td>
        <td>nil</td>
    </tr>
</table>
<br>
<p><b>Record created: </b><%= @officer.created_at %></p>
<p><b>Record updated: </b><%= @officer.updated_at %></p>