<! DOCTYPE html >
<html>
  <head>
    <title> BPD Officer Records</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-light justify-content-left">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/officers">All Officers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/arrests">All Arrests</a>
    </li>
  </ul>
</nav>
<br>
    <div class="container">
    <div class = "text-white bg-primary">
      <h3>Baltimore Police Department Records</h3>
    </div>
    </div>
<table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Badge Number</th>
      <th>Under Investigation</th>
      <th>Total Arrests</th>
      <th>All Arrests</th>
    </tr>
    <tr>
        <td><%= @officer.name %> </td>
        <td><%= @officer.badge_number %></td>
        <td><%= @officer.under_investigation == true ? "Yes": "No" %></td>
        <td><%= @officer.count_arrests %></td>
        <td>link goes here</td>
    </tr>
</table>
<br>
<p><b>Record created: </b><%= @officer.created_at %></p>
<p><b>Record updated: </b><%= @officer.updated_at %></p>