<! DOCTYPE html >
<html>
  <head>
    <title> BPD Officer Records</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-light justify-content-left">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/officers">Officers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/arrests">Arrests</a>
    </li>
  </ul>
</nav>
<br>
    <div class="container">
    <div class = "text-white bg-primary">
      <h3>Baltimore Police Department Records</h3>
    </div>
    </div>
    <center><h5>Officer Arrest Records: <%= @officer.name %></h5></center>
<div id= "arrest_table">
<table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Arrest Category</th>
      <th>Firearm Recovered?</th>
      <th>Edit</th>
      <th>View</th>
      <th>Delete</th>
    </tr>
      <% @arrests.each do |arrest| %>
        <tr>
        <td class= "arrest_name"> <%= arrest.name %></td>
        <td> <%= arrest.age %></td>
        <td> <%= arrest.charge_description %></td>
        <td> <%= arrest.firearm %></td>
        <td> <%= button_to "Edit #{arrest.name}", "/arrests/#{arrest.id}/edit", method: :get %></td>
        <td> <%= button_to "View #{arrest.name}", "/arrests/#{arrest.id}", method: :get %></td>
        <td> <%= button_to "Delete #{arrest.name}", "/arrests/#{arrest.id}", method: :delete %></td>
      <% end %>
    </tr>
</table>
</div>

<%= form_tag("/officers/#{@officer.id}/arrests", method: "get") do %>
    <%= label_tag :entered_age, "Find All Arrests Above Age Entered Below"  %><br>
    <%= text_field_tag :entered_age %>
    <%= submit_tag "Return Results" %>
<% end %>

<p><%= link_to "Create Arrest", "/officers/#{@officer.id}/arrests/new"  %></p>
<br>
<p><%= link_to "Sort Arrests Alphabetically", "/officers/#{@officer.id}/arrests?sort=alpha"%></p>
</html>


