<! DOCTYPE html >
<html>
  <head>
    <title> BPD Officer Records</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-light justify-content-left">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/officers">Officers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/arrests">Arrests</a>
    </li>
  </ul>
</nav>

<br>
    <div class="container">
    <div class = "text-white bg-primary">
      <h3>Baltimore Police Department Records</h3>
    </div>
    </div>

  <%= form_with url: "/officers/#{@officer.id}/arrests", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :age %>
  <%= form.text_field :age %>
  <%= form.label :charge_description %>
  <%= form.text_field :charge_description %>
  <%= form.label :firearm %>
  <%= form.check_box :firearm %>
  <%= form.button "Create Arrest", type: "submit" %>
<% end %>

</html>
